:root {
    /* color styles */
    --title-color:#2E2F42;
    --text-color:#434455;
    --secondary-color:#FFFFFF;
    --logo-button-color:#4D5AE5;
    --accent-color:#404BBF;

    /* logo styles */
    --font-weight-logo:800;
    --font-size-logo:18px;
    --letter-spacing-logo: 0.03em;
    --font-family-logo:'Raleway';
    /* Main sections styles */
    --font-family-main:'roboto';
    --font-weight-large: 600;
    --font-weight-medium: 500;
    --font-weight-small: 400;


}

body{
    font-family: var(--font-family-main), sans-serif;
    color: var(--text-color);
    background-color: var(--secondary-color);
    letter-spacing: 0.02em;
    width: 1440px;
    height: 2593px;
}

ul{
    list-style: none;
}

/* Header */
/* Logo */
.logo{
    color: var(--logo-button-color);
    font-family:var(--font-family-logo);
    font-weight: var(--font-weight-logo);
    font-size: var(--font-size-logo);
    line-height: 1.33;
    text-decoration:none;
    letter-spacing: var(--letter-spacing-logo
    );
    text-transform: uppercase;
}

.studio{
    color: var(--text-color);
    margin-top: -24px;
    margin-left: 44px;
}

/* Navigation */
.nav-link{
    color: var(--title-color);
    font-weight: var(--font-weight-large);
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    list-style: none;
}

.nav-link:hover, .nav-link:focus{
    color: var(--accent-color);
}

.adress{
    color: var(--text-color);
    font-weight: var(--font-weight-small);
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    font-family: var(--font-family-main);
    font-style: normal;
}

.adress:hover, .adress:focus {
    color: var(--accent-color);
}

/* Main page */
/* Main */
.hero{
    color: var(--secondary-color);
    background-color: var(--title-color);
    font-weight: var(--font-weight-large);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

.hero>.button{
    color: var(--secondary-color);
    background-color: var(--logo-button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-large);
    font-size: 16px;
    line-height: 1.19; 
    letter-spacing: 0.04em; 
    cursor: pointer;
    }

.hero>.button:hover, .hero>.button:focus {
    background-color: var(--accent-color);
}


.advantages-h2{
    opacity: 0;
}

.advantages-title{
    color: var(--title-color);
    font-weight: var(--font-weight-medium);
    font-size: 20px;
    line-height: 1.2;
}

.advantages-text{
    font-weight: var(--font-weight-small);
    font-size: 16px;
    line-height: 1.5;
}

.activity-title, .team-title{
    font-weight: var(--font-weight-large);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--title-color);
}
.team{
    background-color: #F4F4FD;
}

.team-member{
    color: var(--title-color);
    font-weight: var(--font-weight-medium);
    font-size: 20px;
    line-height: 1.2;
}

.member-speciality{
    font-weight: var(--font-weight-small);
    font-size: 16px;
    line-height: 1.5;
}

/* Footer */
.footer{
    background-color: var(--title-color);
}

.footer>.logo{
    color: var(--logo-button-color);
    font-family: var(--font-family-logo);
    font-weight: var(--font-weight-logo);
    font-size: var(--font-size-logo);
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: var(--letter-spacing-logo);
}

.footer-studio{
    color: #F4F4FD;
    margin-top: -21px;
    margin-left: 45px;
}

.footer-text{
    color: #E7E9FC;
    font-weight: var(--font-weight-small);
    font-size: 16px;
    line-height: 1.5;
}





/* Portfolio page */
/* Main */
.portfolio{
    opacity: 0;
}

.filter-button{
    color:var(--accent-color);
    font-weight: var(--font-weight-large);
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.filter-button:hover, .filter-button:focus{
    color: var(--secondary-color);
    background-color:var(--accent-color);
}


.portfolio-list a{
    text-decoration: none;
}

.portfolio-title{
    color: var(--title-color);
    font-weight: var(--font-weight-medium);
    font-size: 20px;
    line-height: 1.2;
}

.portfolio-text{
    font-weight: var(--font-weight-small);
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
}






